<footer class="campaign-footer">

    <hr>

    {% case page.lang %}

{% when "nl" %}
    <h2>BLIJF OP DE HOOGTE</h2>
    <p>
        Updates over deze campagne worden gedeeld via de sociale media van:
    </p>

{% when "es" %}
    <h2>MANTENTE AL DÍA</h2>
    <p>
        Las novedades sobre esta campaña se comparten en las redes sociales de:
    </p>

{% when "fr" %}
    <h2>RESTEZ INFORMÉ·E</h2>
    <p>
        Les actualités de cette campagne sont partagées sur les réseaux sociaux de :
    </p>

{% when "pt" %}
    <h2>MANTENHA-SE INFORMADO</h2>
    <p>
        As novidades sobre esta campanha são partilhadas nas redes sociais de:
    </p>

{% when "it" %}
    <h2>RESTA AGGIORNATO</h2>
    <p>
        Gli aggiornamenti su questa campagna vengono condivisi sui social media di:
    </p>

{% when "tr" %}
    <h2>GÜNCEL KALIN</h2>
    <p>
        Bu kampanyayla ilgili güncellemeler aşağıdaki kuruluşların sosyal medya hesaplarında paylaşılmaktadır:
    </p>

{% when "ar" %}
    <h2>ابقوا على اطلاع</h2>
    <p>
        تُنشر آخر مستجدات هذه الحملة عبر حسابات التواصل الاجتماعي للمنظمات التالية:
    </p>

{% else %}
    <h2>STAY UPDATED</h2>
    <p>
        Updates about this campaign are shared on the social media of:
    </p>

{% endcase %}

<ul>
    <li>
        <a
            href="https://www.instagram.com/globalphm/"
            target="_blank"
            rel="noopener noreferrer"
        >
            People's Health Movement (Instagram)
        </a>
    </li>

    <li>
        <a
            href="https://www.instagram.com/artsenvoorgaza/"
            target="_blank"
            rel="noopener noreferrer"
        >
            Artsen voor Gaza (Instagram)
        </a>
    </li>
    <li>Contact: suspend_ima@proton.me</li>
</ul>


    <hr>

    <p>
        <em>

        {% case page.lang %}

        {% when "nl" %}
            Dit is een gezamenlijke campagne van
            <a href="https://linktr.ee/healthworkers4palestine" target="_blank" rel="noopener noreferrer">Healthcare Workers for Palestine</a>,
            <a href="https://actionnetwork.org/groups/global-health-bds-for-palestine" target="_blank" rel="noopener noreferrer">Global Health BDS for Palestine</a>,
            <a href="https://linktr.ee/sanitaripergaza" target="_blank" rel="noopener noreferrer">Sanitari per Gaza</a>,
            <a href="https://www.jvphealth.org/" target="_blank" rel="noopener noreferrer">Jewish Voice for Peace – Health Advisory Council (JVP-HAC)</a>,
            <a href="https://artsenvoorgaza.nl/" target="_blank" rel="noopener noreferrer">Artsen voor Gaza</a>
            en
            <a href="https://phmovement.org/end-medical-complicity" target="_blank" rel="noopener noreferrer">People's Health Movement</a>.

        {% when "es" %}
            Esta es una campaña conjunta de
            <a href="https://linktr.ee/healthworkers4palestine" target="_blank" rel="noopener noreferrer">Healthcare Workers for Palestine</a>,
            <a href="https://actionnetwork.org/groups/global-health-bds-for-palestine" target="_blank" rel="noopener noreferrer">Global Health BDS for Palestine</a>,
            <a href="https://linktr.ee/sanitaripergaza" target="_blank" rel="noopener noreferrer">Sanitari per Gaza</a>,
            <a href="https://www.jvphealth.org/" target="_blank" rel="noopener noreferrer">Jewish Voice for Peace – Health Advisory Council (JVP-HAC)</a>,
            <a href="https://artsenvoorgaza.nl/" target="_blank" rel="noopener noreferrer">Doctors for Gaza / Artsen voor Gaza</a>
            y
            <a href="https://phmovement.org/end-medical-complicity" target="_blank" rel="noopener noreferrer">People's Health Movement</a>.

        {% when "fr" %}
            Il s'agit d'une campagne conjointe de
            <a href="https://linktr.ee/healthworkers4palestine" target="_blank" rel="noopener noreferrer">Healthcare Workers for Palestine</a>,
            <a href="https://actionnetwork.org/groups/global-health-bds-for-palestine" target="_blank" rel="noopener noreferrer">Global Health BDS for Palestine</a>,
            <a href="https://linktr.ee/sanitaripergaza" target="_blank" rel="noopener noreferrer">Sanitari per Gaza</a>,
            <a href="https://www.jvphealth.org/" target="_blank" rel="noopener noreferrer">Jewish Voice for Peace – Health Advisory Council (JVP-HAC)</a>,
            <a href="https://artsenvoorgaza.nl/" target="_blank" rel="noopener noreferrer">Doctors for Gaza / Artsen voor Gaza</a>
            et du
            <a href="https://phmovement.org/end-medical-complicity" target="_blank" rel="noopener noreferrer">People's Health Movement</a>.

        {% when "pt" %}
            Esta é uma campanha conjunta de
            <a href="https://linktr.ee/healthworkers4palestine" target="_blank" rel="noopener noreferrer">Healthcare Workers for Palestine</a>,
            <a href="https://actionnetwork.org/groups/global-health-bds-for-palestine" target="_blank" rel="noopener noreferrer">Global Health BDS for Palestine</a>,
            <a href="https://linktr.ee/sanitaripergaza" target="_blank" rel="noopener noreferrer">Sanitari per Gaza</a>,
            <a href="https://www.jvphealth.org/" target="_blank" rel="noopener noreferrer">Jewish Voice for Peace – Health Advisory Council (JVP-HAC)</a>,
            <a href="https://artsenvoorgaza.nl/" target="_blank" rel="noopener noreferrer">Doctors for Gaza / Artsen voor Gaza</a>
            e do
            <a href="https://phmovement.org/end-medical-complicity" target="_blank" rel="noopener noreferrer">People's Health Movement</a>.

        {% when "it" %}
            Questa è una campagna congiunta di
            <a href="https://linktr.ee/healthworkers4palestine" target="_blank" rel="noopener noreferrer">Healthcare Workers for Palestine</a>,
            <a href="https://actionnetwork.org/groups/global-health-bds-for-palestine" target="_blank" rel="noopener noreferrer">Global Health BDS for Palestine</a>,
            <a href="https://linktr.ee/sanitaripergaza" target="_blank" rel="noopener noreferrer">Sanitari per Gaza</a>,
            <a href="https://www.jvphealth.org/" target="_blank" rel="noopener noreferrer">Jewish Voice for Peace – Health Advisory Council (JVP-HAC)</a>,
            <a href="https://artsenvoorgaza.nl/" target="_blank" rel="noopener noreferrer">Doctors for Gaza / Artsen voor Gaza</a>
            e del
            <a href="https://phmovement.org/end-medical-complicity" target="_blank" rel="noopener noreferrer">People's Health Movement</a>.

        {% when "tr" %}
            Bu kampanya
            <a href="https://linktr.ee/healthworkers4palestine" target="_blank" rel="noopener noreferrer">Healthcare Workers for Palestine</a>,
            <a href="https://actionnetwork.org/groups/global-health-bds-for-palestine" target="_blank" rel="noopener noreferrer">Global Health BDS for Palestine</a>,
            <a href="https://linktr.ee/sanitaripergaza" target="_blank" rel="noopener noreferrer">Sanitari per Gaza</a>,
            <a href="https://www.jvphealth.org/" target="_blank" rel="noopener noreferrer">Jewish Voice for Peace – Health Advisory Council (JVP-HAC)</a>,
            <a href="https://artsenvoorgaza.nl/" target="_blank" rel="noopener noreferrer">Doctors for Gaza / Artsen voor Gaza</a>
            ve
            <a href="https://phmovement.org/end-medical-complicity" target="_blank" rel="noopener noreferrer">People's Health Movement</a>
            tarafından ortaklaşa yürütülmektedir.

        {% when "ar" %}
            هذه حملة مشتركة بين
            <a href="https://linktr.ee/healthworkers4palestine" target="_blank" rel="noopener noreferrer">Healthcare Workers for Palestine</a>،
            <a href="https://actionnetwork.org/groups/global-health-bds-for-palestine" target="_blank" rel="noopener noreferrer">Global Health BDS for Palestine</a>،
            <a href="https://linktr.ee/sanitaripergaza" target="_blank" rel="noopener noreferrer">Sanitari per Gaza</a>،
            <a href="https://www.jvphealth.org/" target="_blank" rel="noopener noreferrer">Jewish Voice for Peace – Health Advisory Council (JVP-HAC)</a>،
            <a href="https://artsenvoorgaza.nl/" target="_blank" rel="noopener noreferrer">Doctors for Gaza / Artsen voor Gaza</a>
            و
            <a href="https://phmovement.org/end-medical-complicity" target="_blank" rel="noopener noreferrer">People's Health Movement</a>.

        {% else %}
            This is a joint campaign of
            <a href="https://linktr.ee/healthworkers4palestine" target="_blank" rel="noopener noreferrer">Healthcare Workers for Palestine</a>,
            <a href="https://actionnetwork.org/groups/global-health-bds-for-palestine" target="_blank" rel="noopener noreferrer">Global Health BDS for Palestine</a>,
            <a href="https://linktr.ee/sanitaripergaza" target="_blank" rel="noopener noreferrer">Sanitari per Gaza</a>,
            <a href="https://www.jvphealth.org/" target="_blank" rel="noopener noreferrer">Jewish Voice for Peace – Health Advisory Council (JVP-HAC)</a>,
            <a href="https://artsenvoorgaza.nl/" target="_blank" rel="noopener noreferrer">Doctors for Gaza / Artsen voor Gaza</a>
            and the
            <a href="https://phmovement.org/end-medical-complicity" target="_blank" rel="noopener noreferrer">People's Health Movement</a>.

        {% endcase %}

        </em>
    </p>

</footer>